---
layout: page
title: About Us
subtitle: What is PREMISE?
---

<div class="col-xl-10 offset-xl-1 about">

  <p>
    The PREMISE project, a Measure 1 Establish project of the ETH Board's Open Research Data (ORD) program, aims to build the infrastrucutre required to support the adoption of ORD standards and practices. ORD strives to make scientific research data publically available at all stages of the research life cycle. It is a new paradigm that has the potential to transform science and open new research opportunities.
  </p>

  <p>
    However, ORD has its challenges, as an effective ORD requires professional Research Data Management (RDM) throughout the data life cycle in accoradance with the FAIR data principles. This is not an easy task and is often perceived as a burden on researchers, not immediately counterbalanced by its benefits. Consequently, adoption of correct practices for RDM and data sharing remains poor within the scientific community.
  </p>

  <p>
    To better understand these challenges, we surveyed participants at the Machine-Actionable Data Interoperability for Chemical Sciences (<a href="https://madices.github.io/2022">MADICES</a>) workshop and found that lack of standards, incentives, tools, and discoverability were key to the delayed adoption of RDM practices.
  </p>

  <div class="d-flex justify-content-center">
    <img
      src="/assets/img/madices_survey.svg"
      alt="MADICES survey results word cloud"
    >
  </div>

  <p>
    It is clear then that the development of standards and ontologies is key to the exchange of data between related fields, so that the process ultimately becomes machine-actionable and automated. The more the processes can be automated, the lower the burden becomes for scientists. As a consequence, the adoption of FAIR RDM practices will grow, with researchers becoming inspiring examples in their fields and Open Science leaders.
  </p>

  <p>
    However, such developments and their implementation in user-accessible software tools require a focused effort and domain-specific solutions. While the first, crucial step to enable this transition is the development of ORD practices in the form of protocols, standards, documentation, and ontology, only the availability of these ORD developments within open and accessible tools will enable their widespread adoption.
  </p>

  <p>
    Furthermore, a concrete implementation of these concepts into platforms that are already adopted by the community can demonstrate that the developed ORD practices and concepts are practical and not too abstract. As such, the PREMISE project will leverage existing tools to demonstrate interoperability between data from simulations and experiments, a combination for which currently no RDM practices exist.
  </p>

  <h2>Our mission</h2>
  <blockquote class="blockquote">
    To establish, promote, and facilitate the adoption of ORD practices adhering to the FAIR data principles in the field of Materials Science, and to provide the missing critical components to enable open and reproducible research in an accessible format that is shareable with the broad scientific community.
  </blockquote>

  <h2 id="goals">Our goals</h2>

  <p>Our goals are distributed across five work packages (WPs). For further details on the objectives, tasks, and deliverables of each work package, please visit our
    <a href="/deliverables">deliverables</a>
    page.</p>

  <div class="d-flex justify-content-center my-5">
    <img
      src="/assets/img/premise_plan.svg"
      alt="PREMISE work packages"
    >
  </div>

  <h2>Our partners</h2>
  <ul class="partners">
    {% for partner in site.data.partners %}
      <li>
        <div class="square-image">
          <img
            src="/assets/img/logos/{{ partner.logo }}"
            alt="{{ partner.name }}" 
          />
        </div>
        <div class="name">
          <a href="{{ partner.link }}">{{ partner.name }}</a>
        </div>
      </li>
    {% endfor %}
  </ul>

  <h2>Our funding</h2>
  <ul class="funding col-lg-10 offset-lg-1">
    {% for funder in site.data.funders %}
      <li class="row align-items-center">
        <div class="col-sm-4 offset-sm-2 d-flex justify-content-center">
          <div class="square-image">
            <a href="{{ funder.link }}">
              <img
                src="/assets/img/logos/{{ funder.logo }}"
                alt="{{ funder.name }}" 
              />
            </a>
          </div>
        </div>
        <div class="col-sm-6 text-center text-sm-left">
          {{ funder.description }}
        </div>
      </li>
    {% endfor %}
  </ul>

</div>
