---
layout: page
title: About Us
subtitle: What is PREMISE?
---

<div class="col-xl-10 offset-xl-1">
  <p>PREMISE is...</p>

  <div class="text-center my-4">
    <h1 class="mb-3">Our mission</h1>
    <blockquote class="blockquote">
      To establish, promote, and facilitate the adoption of ORD practices
      adhering to the FAIR data principles in the field of Materials Science,
      and to provide the missing critical components to enable open and
      reproducible research in an accessible format that is shareable with the
      broad scientific community
    </blockquote>
  </div>

  <div>
    In particular, PREMISE aims to address interoperability between data from
    simulations and experiments, a combination for which there are currently no
    established RDM practices. To do so, PREMISE will...
  </div>
</div>

<div class="text-center">
  <h1>Our partners</h1>
  <ul class="partners">
    {% for partner in site.data.partners %}
    <li>
      <div class="square-image">
        <img
          src="/assets/img/logos/{{ partner.logo }}"
          alt="{{ partner.name }}"
        />
      </div>
      <div class="name">
        <a href="{{ partner.link }}">{{ partner.name }}</a>
      </div>
    </li>
    {% endfor %}
  </ul>
  <h1>Our funding</h1>
  <ul class="funding">
    {% for funder in site.data.funders %}
    <li class="row col-xl-8 offset-xl-2 align-items-center">
      <div class="col-md-4 offset-md-2">
        <div class="square-image">
          <a href="{{ funder.link }}">
            <img
              src="/assets/img/logos/{{ funder.logo }}"
              alt="{{ funder.name }}"
            />
          </a>
        </div>
      </div>
      <div class="col-md-6 description">
        {{ funder.description }}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
