---
layout: page
title: Our Deliverables
subtitle: What we've done
---

<div class="deliverables">
  {% for deliverable in site.data.deliverables %}
    <h2>{{ deliverable.category | capitalize }}</h2>
    <ul>
      {% for item in deliverable.items %}
        <li>
          <h3 class="header">
            <a class="link" href={{ item.link }}>{{ item.title }}</a>
          </h3>
          <div class="authors">{{ item.authors }}</div>
          <div class="description">{{ item.description }}</div>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
