---
layout: page
title: Our Outreach
subtitle: Publications & Presentations
---

<div class="outreach">
  {% for category in site.data.outreach %}
    <h2>{{ category.name | capitalize }}</h2>
    <ul class="{{ category.name }}">
      {% for item in category.items %}
        <li>
          <h3 class="header">
            <a class="link" href={{ item.link }}>{{ item.title }}</a>
          </h3>
          <div class="authors">{{ item.authors }}</div>
          <div class="description">{{ item.description }}</div>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
