---
layout: page
title: Our Tools
subtitle: What does PREMISE use?
---

<p>As we work to develop the standards and guidelines needed to support data interoperability, we will leverage on various tools along the way. Some are developed and maintained by us, while others are done so in collaboration with developers across the ORD community. We may also at times choose to use tools external to PREMISE. Below are all the tools used in the project.</p>

{% assign internals = site.data.tools | where: "type", "internal" %}
{% assign externals = site.data.tools | where: "type", "external" %}


<div class="tools offset-lg-1 col-lg-10">

  <h1>Internal</h1>
  {% include tool.html tools=internals %}

  <h1>External</h1>
  {% include tool.html tools=externals %}

</div>
