.about {
  h2 {
    text-align: center;
  }
  blockquote {
    text-align: center;

    @media (max-width: 768px) {
      margin: 0;
      padding: 10px 0;
      text-align: left;
    }
  }
  p {
    text-align: left;
  }
}

.card-header {
  button {
    text-decoration: none;
    text-align: left;
    color: $second-brand-color;

    &:hover {
      color: $third-brand-color;
    }
  }
}

.funding {
  padding: 0;
  list-style: none;

  .square-image {
    margin: 0;
  }
}
