.deliverables {
  button {
    user-select: text;
    -webkit-user-select: text;
}

  #deliverables-intro {
    margin-bottom: 1em;
  }

  #deliverables-legend {
    height: 0;
    font-size: large;
    transition: height 0.5s ease-in-out;

    @media screen and (max-width: 392px) {
      font-size: medium;
    }

    @media screen and (max-width: 352px) {
      font-size: small;
    }

    &.visible {
      height: 3.5em;
    }

    ol {
      display: flex;
      list-style-type: none;
      justify-content: center;
      padding: 0;
    }

    li {
      color: white;
      margin: 0 0.5em;
      padding: 0.5em;
    }
  }

  #wp-accordion {
    margin: 0;
  }

  .card {
    border: none;
  }

  .card-body {
    padding: 0;
  }

  .title {
    flex: 0 0 90%;
    padding: 10px;

    @media screen and (max-width: 572px) {
      flex: 0 0 85%;
    }

    @media screen and (max-width: 392px) {
      flex: 0 0 80%;
    }
  }

  .wp-card {
    .btn-link {
      width: 100%;
      padding: 0;
      margin: 0;
      text-align: left;
      text-decoration: none !important;
    }

    .tag {
      width: 55px;
      margin: -1px;
      margin-right: 0;
      padding: 10px 5px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .wp-header {
      margin-bottom: 0.5em;
      background-color: $text-color;
      transition: transform 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.025);
      }

      .wp-btn-link {
        color: white;

        &:hover {
          color: white;
        }
      }

      .wp-tag {
        @extend .tag;
        background-color: darken($brand-color, 10%);
      }

      .wp-title {
        flex: 0 0 85%;
        padding: 10px;
      }
    }

    .wp-body {
      padding-bottom: 1em;

      .wp-description {
        margin: 0 0 1em;
      }
    }
  }

  .deliverable-card {
    &:nth-child(odd) .deliverable-header {
      background-color: rgb(240, 240, 240);
    }

    &:nth-child(even) .deliverable-header {
      background-color: rgb(250, 250, 250);
    }

    .deliverable-header {
      transition: background-color 0.1s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: rgb(230, 230, 230);
      }

      .deliverable-btn-link {
        color: $text-color;
      }

      .deliverable-tag {
        @extend .tag;
      }

      .title-container {
        flex: 0 0 85%;
        padding: 10px;

        .title {
          padding: 0;
        }

        .deadline {
          margin-top: 5px;
          margin-left: 10px;
          font-weight: bold;
        }
      }
    }

    .deliverable-body {
      padding: 1em;
      border: 1px solid rgb(225, 225, 225);

      .deliverable-authors {
        font-weight: bold;
        font-style: italic;
        font-size: medium;
        margin-bottom: 1rem;
      }

      .deliverable-description,
      .deliverable-version {
        margin: 0;
      }

      .deliverable-version {
        font-weight: bold;
      }

      .deliverable-version,
      .deliverable-link {
        margin-top: 0.5em;
      }
    }
  }

  .completed {
    background-color: #5fac48;
  }

  .in-progress {
    background-color: #0096de;
  }

  .planned {
    background-color: #ee781e;
  }
}
