.deliverables {
  h2 {
    text-align: center;
  }

  ul {
    list-style-type: none;

    li {
      @extend .checkmark;
      margin: 0.5em 0;

      .header {
        font-size: large;
        font-weight: normal;
      }

      .authors {
        font-weight: bold;
        font-style: italic;
      }
    }
  }
}
