a {
  text-decoration: none;
  color: $second-brand-color;
  transition: color 0.2s ease-in-out;

  &:hover {
    text-decoration: none;
    color: $third-brand-color;
  }
}

.list-bullet {
  position: relative;
  padding-left: 1em;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -0.75em;
  }
}

.checkmark {
  @extend .list-bullet;

  &::before {
    top: 0;
    transform: rotate(45deg);
    height: 1em;
    width: 0.5em;
    border-bottom: 0.25em solid $brand-color;
    border-right: 0.25em solid $brand-color;
  }
}
