.outreach {
  h2 {
    text-align: center;
  }

  ul {
    list-style-type: none;

    li {
      margin: 0.5em 0;

      .header {
        font-size: large;
        font-weight: normal;
      }

      .authors {
        font-weight: bold;
        font-style: italic;
      }
    }

    &.publications li {
      @extend .publication-bullet;
    }

    &.presentations li {
      @extend .presentation-bullet;
    }
  }
}
