.outreach {
  h2 {
    text-align: center;
  }

  ul {
    list-style-type: none;

    li {
      margin: 0.5em 0;

      .header {
        font-size: large;
        font-weight: normal;
      }

      .reference, .authors {
        font-weight: bold;
        font-style: italic;
      }

      .event,
      .where-and-when {
        font-style: italic;
      }

      .description {
        margin: 0.5em 0;
      }

      &.publication {
        @extend .list-bullet;

        &::before {
          content: "📄";
          top: -0.25em;
        }
      }

      &.presentation {
        @extend .list-bullet;

        &::before {
          content: "🎥";
          top: -0.4em;
        }
      }

      &.press-release {
        @extend .list-bullet;

        &::before {
          content: "🎤";
          top: -0.3em;
        }
      }
    }
  }
}
