<div id="accordion">
  {% for card in include.cards %}
    <div class="card">
      <div
        class="card-header"
        id="heading{{forloop.index}}"
        onclick="toggleCollapse({{forloop.index}})"
        role="button"
      >
        <h5 class="mb-0">
          <button
            class="btn btn-link"
            data-toggle="collapse"
            data-target="#collapse{{forloop.index}}"
            aria-expanded="false"
            aria-controls="collapse{{forloop.index}}"
          >
            {{ card.header }}
          </button>
        </h5>
      </div>

      <div
        id="collapse{{forloop.index}}"
        class="collapse"
        aria-labelledby="heading{{forloop.index}}"
        data-parent="#accordion"
      >
        <div class="card-body">
          {{ card.content }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<script>
  function toggleCollapse(index) {
    var button = document.querySelector(`#heading${index} button`);
    if (button) {
      button.click();
    }
  }
</script>
